label#thumbnail{
    margin-bottom: 20px;
    border: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 60px;

}
label#thumbnail input{
    display: none;
}
label#thumbnail.has_thumbnail{
    border: 0;
}
label#thumbnail.has_thumbnail img{
    display: none;
}

.container > event-validation {
    margin-top: 12px;
}