@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Recursive";
}

html,body,#root{
    min-width: 100%;
}

body{
    background: rgba(0,0,0,0.5)url('./assets/1048441.png');
    background-size: cover;
    background-repeat: no-repeat;
}
body,
input,
button {
    font-size: 14px;
    font-family: "Recursive", Arial, Helvetica, sans-serif;
}


.container {
    margin: 40px auto;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    color: #318fb5;
    font-size: 36px;
}
.content {
    width: 80%;
    opacity: 0.8;
    background: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

.content > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}
.content button.submit-btn{
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    background: #f05a;
    color: #fff;
    cursor: pointer;   
}
.content button.submit-btn:hover{
    background:#f05;
    opacity: 1; 
}

.content button.secondary-btn {
    
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    background: #337ab7;
    color: #fff;
    cursor: pointer;
}
.content button.secondary-btn:hover{
    background:#286090;
    opacity: 1; 
}

.content .input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


@media (max-width:380px) {
    body{
        background-image: url('./assets/anime.jpg');
    }
    .container h1{
        color:#f05a;
    }
}